streamlit==1.38.0
openai==1.57.1
sentence-transformers==3.1.0
pdfplumber
sqlalchemy==2.0.35
networkx
tiktoken
pandas==2.2.2
plotly==5.24.1
jieba==0.42.1
pymongo[srv]==4.6.1
pinecone
scikit-learn
neo4j>=5
python-dotenv
